{% extends "base.twig" %}

{% block content %}
	<div class="loading"></div>
	<div class="row search">
		<div id="navside" class="col-md-3">
			<!-- <div class="scroll-pane"> -->
				{% include ['partials/sidebar-search.twig'] %}
		<!-- 	</div>			 -->	
		</div>

		<div class="col-md-9 collection pull-right" role="main">
			<div class="row thumbs">
				<div class="gammes">
					{% for gamme in gammes_liste %}   	
		            	<div class="col-md-4 col-sm-6">
		            		<div class="gamme-thumb" onclick="window.location='{{gamme.link}}'">
			            		
			                 	<div class="caption_overlay">
									{% if gamme.children %}
										<ul>
											<li class="parent">{{gamme.name}}</li>
									       		{% for child in gamme.children %}
									       		<li><a href="{{child.link}}">{{child.name}}</a></li>
								        		{% endfor %}
								    	</ul>
								    {% else %}
								   	<h4>{{gamme.name}}</h4>
						        	{% endif %}
								</div>
								{% if gamme.tax_img %}
			                 		<img src="{{gamme.tax_img}}">
			                 	{% else %}
									<img src="{{theme.uri}}/img/blank.jpg">
			                 	{% endif %}
							
							</div>
						</div>
				    {% endfor %}
				</div>
			{% filter shortcodes %}
				[facetwp template="produits"]
			{% endfilter %}

		</div>
    </div>             
{% endblock %}