{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}">

        {% include 'partials/header.twig' %}
		
		<section id="home" role="main" class="content-wrapper clearfix">
	  		
	  		{% if images|length > 1 %} 
			    <!-- Slider-->
			    <div id="SliderContainer" class="container">
		            <div class="slider">
		                <ul class="slides">                                    
			                {% for image in images %}
		    					<li>
					          		<img src="{{TimberImage(image.url).src}}">
					            	<div class="captionwrap">
					            		<div class="container">
					            			<p class="pull-right">{{image.caption}}</p>
					            		</div>
					            	</div>
			  	    			</li>
							{% endfor %}
		            
						</ul>
					</div>
				
				</div>
			{% else %}
				<div class="container img-seul">
					{% for image in images %}
			          	<img src="{{TimberImage(image.url).src}}">
		            	<div class="captionwrap container">
		            		<p class="pull-right">{{image.caption}}</p>		            	
		            	</div>
					{% endfor %}
				</div>
			{% endif %}
			
			<div class="container marketing">
				<div class="row">
					<div class="col-md-4">
						<h2>{{concep.post_title}}</h2>
					
					</div><!-- /.col-lg-4 -->
					<div class="col-md-4 centered">
						<h2>{{fab.post_title}}</h2>
						
					</div><!-- /.col-lg-4 -->
					<div class="col-md-4">
						<h2 class="right">{{preco.post_title}}</h2>
						
					</div><!-- /.col-lg-4 -->
				</div><!-- /.row -->
			</div>

		</section>

        {% include 'partials/footer.twig' %}
        {{ function('wp_footer') }}
      
  </body>
</html>
