{% extends "base.twig" %}

{% block content %}
	<div class="row">
	 	<div id="navside" class="col-md-3">
	 		<ul class="navlist">
				 {% for subpage in subpages %}
				<li><a href="#{{subpage.post_name}}" data-scroll="{{subpage.post_name}}">{{subpage.post_title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-9 page-content pull-right" role="main">
			<section id="main-parent">
					
					{{post.content}}
				
			</section>
			{% for subpage in subpages %}
				<section id="{{subpage.post_name}}" data-anchor="{{subpage.post_name}}">
					
					{{subpage.post_content}}
				
				</section>
			{% endfor %}
		</div>
	</div>
	


{% endblock %}