{% extends "base.twig" %}

{% block content %}
	<div class="row">
	 	<div id="navside" class="col-md-3">
	 		<div class="nav-fix">
	 			<ul class="navlist">
					 {% for subpage in subpages %}
						<li>
							<span class="redline"></span>
							<a href="#{{subpage.post_name}}" data-scroll="{{subpage.post_name}}">{{subpage.post_title}}
							<i class="angle-right"></i>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-9 page-content" role="main">
			<section id="main-parent">
					
					{{post.content}}
				
			</section>
			{% for subpage in subpages %}
				<section id="{{subpage.post_name}}" data-anchor="{{subpage.post_name}}">
					<h1>
						{{subpage.post_title}}
						<span class="pull-right page-haut">
							<a class="contact" href="/contact" title="Contact">{{__('Une question? Contactez nos équipes.', 'procoves')}}</a>
							<a id="back-to-top" href="#top" title="Haut de page">
								<span>{{__('Haut de page', 'procoves')}}</span>
								<i class="angle-up"></i>
							</a>
						</span>
					</h1>
					
					{{subpage.post_content}}
				
				</section>
			{% endfor %}
		</div>
	</div>
{% endblock %}