{% block content %}
	<div class="row thumbs">
		{% for produit in produits %}
	      <div class="col-md-4">
	      	<div class="produit-thumb">
		      	<a href="{{produit.link}}">	
		      		{% if produit.img_prod %}
			      		<img src="{{TimberImage(produit.img_prod)}}">
					{% else %}
						<img src="http://placehold.it/300x300">
					{% endif %}
			    </a>
		      	<div class="produit-info">
		      		<h4><a href="{{produit.link}}">{{produit.title}}</a></h4>
		      		<ul class="gammes">
				    {% for gamme in produit.terms('gammes') %}
				        	 <li><a href="{{gamme.link}}">{{gamme.name}}</a></li>	  
				    {% endfor %}
					</ul>
		      	</div>
		    </div>
	      </div>
      {% endfor %}
    </div>
{% endblock %}
