{% extends "base.twig" %}

{% block content %}
		<!-- RECHERCHE  -->
		<div class="jumbotron">
				<h4>{{__('Pour une recherche avancée dans notre catalogue de produits, veuillez visiter la ', 'procoves')}}<a href="/recherche">{{__('page de recherche', 'procoves')}}</a></h4>
		</div>

		<div class="row">
			<div class="col-md-12 search" role="main">
			{% if post or produits %}
				{% if produits %}
					<h3>Nos Produits</h3>
					<div class="row thumbs">
						{% for produit in produits %}
					      <div class="col-md-3 col-sm-6">
					      	<div class="produit-thumb">
						      	<a href="{{produit.link}}">	
						      		{% if produit.img_prod %}
							      		<img src="{{TimberImage(produit.img_prod).get_src|resize(300,300)}}">
									{% else %}
										<img src="{{theme.uri}}/img/blank.jpg">
									{% endif %}
							    </a>
						      	<div class="produit-info">
						      		<h4><a href="{{produit.link}}">{{produit.title}}</a></h4>
						      		<ul class="gammes">
								    {% for gamme in produit.terms('gammes') %}
								        	 <li><a href="{{gamme.link}}">{{gamme.name}}</a></li>	  
								    {% endfor %}
									</ul>
						      	</div>
						    </div>
					      </div>
				      {% endfor %}
				    </div>
					<hr>
				{% endif %}
				{% if post %}
					<h3>{{__('Pages et Actualites', 'procoves')}}</h3>
					{% for post in post %}
							<article id="post-{{post.ID}}">
								<h2>{{ post.title }}</h2>
								<p>{{post.get_preview(80, true,'En savoir Plus',false)}}</P>
							</article>
					{% endfor %}
				{% endif %}
			{% else %}
				<h4>{{__('Votre recherche n\'a donné aucun resultat','procoves')}}</h4>
				<p>{{__('Vérifiez si votre orthographe est correcte et reduisez les expressions pour rechercher chaque terme individuellement.','procoves')}}</p>
			{% endif %}
		</div>
    </div>             
{% endblock %}