
<div class="searchside">
	<h2><span class="redline"></span>
	RECHERCHE</h2>

		<input type="text" class="form-control sidebar" value="Nom" onfocus="if (this.value=='Nom') this.value='';">
		<input type="text" class="form-control sidebar" value="Refs" onfocus="if (this.value=='Refs') this.value='';">
		<input type="text" class="form-control sidebar" value="Matieres" onfocus="if (this.value=='Matieres') this.value='';">
	<!-- 	<input type="text" class="form-control sidebar" value="Secteur" onfocus="if (this.value=='Secteur') this.value='';"> -->

	</div>
<div class="searchside">
	<h2><span class="redline"></span>
	NIVEAU DE PERFORMANCE</h2>
	<ul class="normes-list">
	{% for norme in normes %}
		{% if norme.tax_img is empty %} <!-- Do nothing  -->
		{% else %}
    		<li><a href="{{norme.link}}"><img src="{{TimberImage(norme.tax_img)}}"></a></li>
    	{% endif %}
	{% endfor %}
</ul>
</div>
<div class="searchside">
	<h2><span class="redline"></span>
	GAMMES</h2>
	<ul class="gammes-list">
	{% for gamme in gammes %}
	    <li><a href="{{gamme.link}}">{{gamme.name}}</a>
	    	{% if gamme.children %}
					<i data-toggle="collapse" data-target="#subgammes" class="angle-down"></i>
				    <ul id="subgammes" class="collapse gamme-list-children">
				        {% for child in gamme.children %}
				            <li><a href="{{child.link}}">{{child.name}}</a></li>
				        {% endfor %}
				    </ul>
				</li>
			{% else %}
			</li>
	    	{% endif %}
	{% endfor %}
</ul>
</div>

