{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>

 <body class="{{body_class}}" data-source="base.twig">

    {% include 'partials/header.twig' %}
    {% include 'partials/breadcrumbs.twig' %}

    <section id="content" class="content-wrapper">

        <div class="container">

			<article id="produit-content">
				<div class="row">

					<div class="produit-image col-md-6">
						{% if post.img_prod %}
							<img src="{{post.img_prod.src}}">
						{% else %}
							<img src="{{theme.uri}}/img/blank.jpg">
						{% endif %}
					</div>

					<div class="produit-desc col-md-6">

						<div class="prod-desc-heading">
							<h2 class="produit-title">{{post.title}}</h2>
							<span>
								<img class="CE" src="{{CE}}">
								<img class="pro" src="{{logo_pro_noir}}">
							</span>
							<p>REF : {{ post.ref }}</p>
						</div>

						<div class="prod-desc-panel">
							<!-- gammes -->
							<ul class="gammes">
							    {% for gamme in gammes %}
							        <li><a class="green" href="/{{gamme.taxonomy}}/{{gamme.slug}}">{{gamme.name}}</a>
							        	
									</li>
							    {% endfor %}
							</ul>
							<!-- normes -->
							<ul class="normes">
							    {% for norme in post.terms('normes') %}
								    {% if norme.tax_img %} 
								    	 <li class="pull-left"><a class="tax_img" href="{{norme.link}}"><img src="{{TimberImage(norme.tax_img)}}"></a></li>
								    {% elseif norme.description %}<!-- Categorie 1 -->
										<li class="cat-1"><a href="{{norme.link}}">{{norme.description}}</a></li>
								    {% else %}
								       <li><a href="{{norme.link}}">{{ norme.name}}</a></li>
								    {% endif %}
							    {% endfor %}
							</ul>
							<!-- utilisations -->
							<h4>{% if use_title %}
									{{ use_title }}
								{% else %}
									{{__('Utilisations preconisées','procoves')}}
								{% endif %}
							</h4>
							<p class="use_prod">{{ post.use_prod }}</p>
							<!-- activite -->
							{% if post.terms('activite') %}
								<ul class="activite">
									<li>Secteur d’activité :</li>
								    {% for activite in post.terms('activite') %}
								    	<li><a href="{{activite.link}}">{{activite.name}}</a></li>
								    {% endfor %}
								</ul>
							{% endif %}
							<!-- description -->
							<h4>{% if desc_title %}
									{{ desc_title }}
								{% else %}
									{{__('Description technique','procoves')}}
								{% endif %}
								</h4>
							<p class="desc_tech">{{ post.desc_tech }}</p>
							<!-- matieres -->
							<h4>{% if matiere_title %}
									{{ matiere_title }}
								{% else %}
									{{__('Matières utilisées','procoves')}}
								{% endif %}</h4>
							<ul class="matieres">
							    {% for matiere in post.terms('matieres') %}
							        <li><a class="green" href="{{matiere.link}}">{{matiere.name}}</a>
							        </li>
							        {% if matiere.tax_img %}
										<span class="pull-right"><img src="{{TimberImage(matiere.tax_img)}}"></span>{% endif %}
							    {% endfor %}
							</ul>

							<div class="infos">
								<span>
									<a target="_blank" href="{{mode_emploi}}" data-toggle="tooltip" title="Mode d'emploi">
										<i class="info"></i>
									</a>
								</span>
								<span>
									<a target="_blank" href="{{fiche}}" data-toggle="tooltip" title="Imprimer la fiche technique">
										<i class="print"></i>
									</a>
								</span>
							</div>
						</div>

					</div>

				</div><!-- /.row -->
			</article>
		</div><!-- /.container -->

		<div id="vedette">
			{% include 'partials/featured-single.twig' %}
		</div>

	</section>

    {% include 'partials/footer.twig' %}
    {{ function('wp_footer') }}
      
  </body>
</html>