<div class="a-la-une">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6 col-sm-6 actu-tease">
				<h2><a href="{{menu.get_items[2].url}}">Actualites</a></h2>
				<div class="row">
					<div class="col-md-6 actu-img">
						<img class="actu" src="{{actu.get_thumbnail.get_src}}" />
					</div>
					<div class="col-md-6 actu-body">
						<h4>{{ actu.title }}</h4>
						<p class="date">
							<span>{{ actu.display_date }}</span>
						</p>
						<p>{{actu.get_preview(80, true,'En savoir Plus',false)}}</P>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 contact">
				<h2><a href="{{menu.get_items[3].url}}">Contact</a></h2>
				<p>{{adresse | print_r}}<br>
					<a href="mailto:{{email | print_r}}">{{email | print_r}}</a>
				</p>			
			</div>

		</div>
		
	</div>
</div>