<article class="actu" id="actu-{{post.ID}}">
	<h2>{{ post.title }}</h2>
	<p class="date">
		<span>{{ post.display_date }}</span>
	</p>
	<div class="actu-body">
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
		<p>{{post.content}}</P>
	</div>
</article>