 <!-- Breadcrumbs  -->
<div class="breadcrumbs">
	<div class="container">
		 
		 <ul class="bclist">
			<li><a href="{{site.url}}" rel="home">{{site.title}}</a>&nbsp;</li>
			{% if prod_title %}
				<li>/&nbsp;<a href="{{prod_url}}" rel="home">{{prod_title}}</a>&nbsp;</li>
			{% endif %}
			{% if breadcrumbs %}
				{% for bc in breadcrumbs %}
					<li>/&nbsp;<a href="?{{bc.taxonomy}}={{bc.slug}}">{{bc.name}}</a></li>
				{% endfor %}
			{% endif %}
			<li>/&nbsp;<a href="{{link}}">{{title}}</a></li>			
		 </ul>

			<!-- titre  -->
		  {% if title %}
		  		<h1 class="title">{{title}}</h1>
		  {% else %}
				 <h1 class="title">{{post.title}}</h1>
		  {% endif %}
	</div>
</div>