<div id="thumbs-wrap">
	
	<h2><span class="redline"></span>{{__('Produits Similaires', 'procoves')}}</h2>

	<div class="container thumbs">
	      	<div class="row">
	      		{% for produit in similaires %}
			      	<div class="col-md-3 related-thumb" onclick="window.location='{{produit.link}}'">	  
			      			<div class="caption_overlay">
								<h4>{{produit.title}}</h4>	
							</div>
			      			{% if produit.img_prod %}
				      			<img src="{{TimberImage(produit.img_prod).get_src|resize(300,300)}}">
							{% else %}
								<img src="{{theme.uri}}/img/blank.jpg">
							{% endif %}		  		
			    	</div>
			    {% endfor %}
			</div>
    </div>

</div>	
{% include 'partials/actu-tease.twig' %}